html {
	overflow-y: hidden;
}

.me_div1 {
	height: 100vh;
	background-color: #000;
}
.me_div1 .page_content {
	text-align: center;
}
.me_div1 .page_content .div1,.me_div1 .page_content .div2,.me_div1 .page_content .div3 {
	width: 100%;
	position: absolute;
	z-index: 999;
	color: white;
	font-size: 30px;
	font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	filter: alpha(opacity=0);
	opacity: 0;
}

.introduce {
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 999;
	color: white;
	font-size: 30px;
	filter: alpha(opacity=0);
	opacity: 0;
}

.me_div1 .introduce {
	top: 35rem;
}

.me_div3 .introduce {
	margin-top: 40vh;
}

.tips {
    -webkit-animation: flash 0.5s none infinite alternate;
    animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.me_div2 {
	background: #000;
	height: 100vh;
}

.me_div3 {
	background: #000;
	height: 100vh;
}
.me_div2 .title,.me_div3 .title {
	color: #fff;
}

#scrollDown {
	position: absolute;
	top: 100%;
	margin-top: -6rem;
	width: 100%;
}
#scrollDownSpan {
	z-index: 100;
	position: fixed;
	left: 51%;
	margin-left: -2rem;
	margin-top: 3rem;
	border-right: 3px solid rgba(255,255,255,0.5);
	border-top: 3px solid rgba(255,255,255,0.5);
	height: 20px;
	width: 20px;
	-webkit-transform: rotate(
			135deg
	);
	transform: rotate(
			135deg
	);
	cursor: pointer;
	transition: .25s;
}

#scrollDownSpan:hover {
	border-color: white;
}
