.tagMenu {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 130px;
	left: 45px;
	z-index: 99;
}

.queryContainer {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 130px;
	right: 45px;
	z-index: 999;
}

.tags {
	margin-top: 10px;
}

.el-tag + .el-tag {
	margin-left: 10px;
	margin-top: 10px;
}

.content {
	width: 60rem;
	margin: 0 auto;
}

.pagination {
	width: 30rem;
	margin: 0 auto;
}

.articles li {
	border-radius: 10px;
	width: 950px;
	margin: 25px auto;
	background: #f6f6f6;
}

.articles li:hover {
	-webkit-box-shadow: #d4d4d4 0px 0px 10px;
	-moz-box-shadow: #d4d4d4 0px 0px 10px;
	box-shadow: #d4d4d4 0px 0px 10px;
}

.articles .article_content {
	padding: 18px;
}
.articles .article_title {
	color: #000;
	font-size: 20px;
	margin-bottom: 10px;
}

.articles .article_title:hover {
	color: #e33e33;
	font-size: 20px;
	margin-bottom: 10px;
}

.articles .article_desc {
	font-size: 14px;
	color: #888;
	margin-bottom: 15px;
}
.articles .article_detail {
	font-size: 14px;
	color: #888;
	margin-right: 10px;
}

.articles .article_detail a{
	color: #888;
}

.articles .article_detail a:hover{
	color: #000;
}

