.tagMenu {
	position: absolute;
	width: 15rem;
	top: 8rem;
	left: 10rem;
	z-index: 999;
}

.queryContainer {
	position: absolute;
	top: 8rem;
	right: 10rem;
	z-index: 999;
}

.tags {
	margin-top: 10px;
}

.el-tag + .el-tag {
	margin-left: 10px;
	margin-top: 10px;
}

.content {
	width: 60rem;
	margin: 0 auto;
}

.terms {
	margin: 30px auto 10px;
	padding-left: 2px;
}

.articles li {
	margin: 0 auto 10px ;
}

.articles .article_content {
	padding: 18px;
}
.articles .article_title {
	color: #000;
	font-size: 20px;
	margin-bottom: 10px;
}

.articles .article_title:hover {
	color: #b3abab;
	font-size: 20px;
	margin-bottom: 10px;
}

.articles .article_desc {
	font-size: 14px;
	color: #888;
	margin-bottom: 15px;
}
.articles .article_detail {
	font-size: 14px;
	color: #888;
	margin-right: 10px;
}

.articles .article_detail a{
	color: #888;
}

.articles .article_detail a:hover{
	color: #000;
}

