.tagMenu {
	position: absolute;
	width: 15rem;
	top: 8rem;
	left: 10rem;
	z-index: 999;
}

.queryContainer {
	position: absolute;
	top: 8rem;
	right: 10rem;
	z-index: 999;
}

.tags {
	margin-top: 10px;
}

.el-tag + .el-tag {
	margin-left: 10px;
	margin-top: 10px;
}

.content {
	width: 60rem;
	margin: 0 auto;
}

.terms {
	margin: 30px auto 10px;
	padding-left: 2px;
}
.articles ul {
	height: 78vh;
}
.articles li {
	margin: 10px auto 0 ;
}

.articles .article_content {
	padding: 10px 15px;
}
.articles .article_title {
	color: #000;
	font-size: 20px;
	margin-bottom: 10px;
}

.articles .article_title:hover {
	color: #b3abab;
	font-size: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}
.articles .article_desc {
	float: left;
	font-size: 14px;
	color: #888;
	margin-right: 10px;
	height: 22px;
	line-height: 22px;
}

.articles .article_detail {
	height: 15vh;
	font-size: 14px;
	color: #888;
	margin-right: 10px;
}

.articles .article_detail:hover {
	color: #000;
	cursor: pointer;
}

.articles .article_desc a{
	color: #888;
}

.articles .article_desc a:hover{
	color: #000;
}

