@charset "utf-8";
html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0px;
    font-size: 12px;
    height: 100%;
    line-height: 22px;
    width: 100%;
}

ul, ul li, ol li, tr td, dl dd, dd, dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0
}
.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
    -moz-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
    -webkit-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
    -o-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
}
img {
    vertical-align: middle;
    border: none;
}
.lf {
    float: left;
}
.rg {
    float: right;
}

html {
    overflow-x: hidden;
}

div:hover, li:hover, tr:hover, a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
    -moz-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
    -webkit-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
    -o-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;
}

input {
    outline: none;
}

.div_js_txt {
    position: fixed;
    width: 0;
    height: 0;
    top: 0px;
    right: 0px;
    z-index: 1000;
    height: 100%;
    overflow: hidden;
}
.div_js_bg {
    background: url(/static/image/blankMenu.png) repeat center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0px;
    top: 0px;
    filter: alpha(opacity=0);
    opacity: 0;
}
.div_js_lf {
    width: 50%;
    position: absolute;
    top: 0px;
    left: -100%;
    height: 100%;
    background: #000;
}
.tag_right {
    overflow: auto;
}
.nav-menu {
    width: 100%;
    padding-top: 5rem;
    overflow: hidden;
}
.nav-menu li {
    width: 100%;
    height: 4rem;
    margin-bottom: 20px;
}
.nav-menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: capitalize;
    overflow: visible;
    line-height: 4rem;
    height: 4rem;
    font-size: 20px;
}
.three-d {
    -webkit-perspective: 24rem;
    -moz-perspective: 24rem;
    -ms-perspective: 24rem;
    -o-perspective: 24rem;
    perspective: 24rem;
    -webkit-transition: all .7s linear;
    -moz-transition: all .7s linear;
    -ms-transition: all .7s linear;
    -o-transition: all .7s linear;
    transition: all .7s linear;
    position: relative;
}
.three-d:not(.active):hover {
    cursor: pointer;
}
.three-d:not(.active):hover .three-d-box, .three-d:not(.active):focus .three-d-box {
    -wekbit-transform: translateZ(-30px) rotateX(90deg);
    -moz-transform: translateZ(-30px) rotateX(90deg);
    -o-transform: translateZ(-30px) rotateX(90deg);
    -ms-transform: translateZ(-30px) rotateX(90deg);
    transform: translateZ(-30px) rotateX(90deg);
}
.three-d-box {
    text-align: left;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transform: translatez(-30px);
    -moz-transform: translatez(-30px);
    -ms-transform: translatez(-30px);
    -o-transform: translatez(-30px);
    transform: translatez(-30px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.front {
    -webkit-transform: rotatex(0deg) translatez(30px);
    -moz-transform: rotatex(0deg) translatez(30px);
    -ms-transform: rotatex(0deg) translatez(30px);
    -o-transform: rotatex(0deg) translatez(30px);
    transform: rotatex(0deg) translatez(30px);
    padding-left: 40px;
}
.back {
    -webkit-transform: rotatex(-90deg) translatez(30px);
    -moz-transform: rotatex(-90deg) translatez(30px);
    -ms-transform: rotatex(-90deg) translatez(30px);
    -o-transform: rotatex(-90deg) translatez(30px);
    transform: rotatex(-90deg) translatez(30px);
    color: #FFE7C4;
    padding-left: 40px;
}
.front, .back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: white;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*导航栏颜色*/
.nav-menu .active a .front, .nav-menu .active a .back, .nav-menu li a:hover .front, .nav-menu li a:hover .back {
    background-color: #009FFD;
}

.div_js_close {
    position: absolute;
    top: 45px;
    right: 45px;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
    z-index: 1000;
}
.div_js_close img {
    -moz-transform: 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s, -o-transform 1s;
}
.div_js_close:hover img {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.div_js {
    filter: alpha(opacity=0);
    opacity: 0;
}

.index_dh {
    position: fixed;
    top: 2rem;
    right: -10rem;
    z-index: 1000;
    cursor: pointer;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    opacity: 1;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #eee;
}

#content {
    overflow: hidden;
    width: 1000%;
}
.article {
    float: left;
    position: relative;
}
.sideGuide {
    position: fixed;
    z-index: 100;
    right: 0px;
    _position: absolute;
    _left:expression(eval(document.documentElement.scrollLeft+document.documentElement.offsetWidth/2))
}
.sideGuide ul {
    zoom: 1;
    position: relative;
}
.sideGuide .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 150;
}

.head {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 300;
    width: 43px;
    text-align: center;
    top: 38.3%;
    cursor: pointer;
}
.head .activesss {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    background: url(/static/image/sideGuide.png) left center no-repeat;
    width: 43px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.head .activesss:hover, .head .on {
    background: url(/static/image/sideGuide.png) right center no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.div_index1 {
    width: 100%;
    height: 100%;
    z-index: 200;
    overflow: hidden;
    position: relative;
}
.div_index1 .bg {
    background: #000000;
    min-width: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.div_index1 .div1 {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 35%;
    text-align: center;
    font-size: 4em;
	font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

@keyframes breath {
    from {
        top:0px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top:12px;
        opacity:0;
    }
}
.div_index2 {
    width: 100%;
    height: 100%;
    z-index: 280;
    overflow: hidden;
    position: relative;
}
.div_index2 .div_bg {
    background: #000000;
    min-width: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.div_index2 .div_bg .div1 {
    position: absolute;
    z-index: 105;
    top: 28%;
    width: 450px;
    left: 35px;
    color: #fff;
}
.div_index2 .div_bg .div1 .p1 {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.div_index2 .div_bg .div1 .p2 {
    padding-left: 6rem;
    margin-top: 40px;
    top: 50px;
}
.div_index2 .div_bg .div1 .p2 a {
    border: 1px solid #fff;
    display: block;
    width: 6rem;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.div_index2 .div_bg .div1 .p2 a:hover {
    background: #fff;
    color: #ffc000
}
.div_index3 {
    width: 100%;
    height: 100%;
    z-index: 280;
    overflow: hidden;
    position: relative;
}
.div_index3 .div_bg {
    background: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: 768px;
    overflow: hidden;
}

.div_index3 .div_bg .div1 {
    position: absolute;
    z-index: 105;
    top: 28%;
    width: 30rem;
    left: 35px;
    color: #fff;
}
.div_index3 .div_bg .div1 .p1 {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    left: -150px;
    text-transform: uppercase;
}
.div_index3 .div_bg .div1 .p2 {
    padding-left: 6rem;
    margin-top: 40px;
    top: 50px;
}
.div_index3 .div_bg .div1 .p2 a {
    border: 1px solid #fff;
    display: block;
    width: 6rem;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.div_index3 .div_bg .div1 .p2 a:hover {
    background: #fff;
    color: #c000ff
}

.div_index4 {
    width: 100%;
    height: 100%;
    z-index: 280;
    overflow: hidden;
    position: relative;
}
.div_index4 .div_bg {
    background: #000000;
    min-width: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.div_index4 .div_bg .div1 {
    position: absolute;
    z-index: 105;
    top: 28%;
    width: 450px;
    left: 35px;
    color: #fff;
}
.div_index4 .div_bg .div1 .p1 {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    left: -150px;
    text-transform: uppercase;
}
.div_index4 .div_bg .div1 .p2 {
    padding-left: 6rem;
    margin-top: 40px;
    top: 50px;
}
.div_index4 .div_bg .div1 .p2 a {
    border: 1px solid #fff;
    display: block;
    width: 6rem;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.div_index4 .div_bg .div1 .p2 a:hover {
    background: #fff;
    color: #89b20c
}
.div_index5 {
    width: 100%;
    height: 100%;
    z-index: 280;
    overflow: hidden;
    position: relative;
    background: #000;
}
.div_index5 .div_bg .div1 {
    position: absolute;
    z-index: 105;
    top: 28%;
    width: 550px;
    left: 35px;
    color: #fff;
}
.div_index5 .div_bg .div1 .p1 {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    left: -150px;
    text-transform: uppercase;
}

.div_index5 .div_bg .div1 .p2 {
    padding-left: 6rem;
    margin-top: 40px;
    top: 50px;
}
.div_index5 .div_bg .div1 .p2 a {
    border: 1px solid #fff;
    display: block;
    width: 6rem;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.div_index5 .div_bg .div1 .p2 a:hover {
    background: #fff;
    color: #89b20c
}

.main_bg {
    position: relative;
    width: 100%;
}

.div_news {
    background: #000;
    text-align: center;
    color: white;
}

.div_news .p1 {
    font-size: 35px;
    height: 6rem;
    line-height: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

