.mian_box {
	width: 100%;
	min-width: 1200px;
}
.ul_list {
	margin-top: 2%;
	margin-bottom: 1.5%;
}
.ul_list li {
	float: left;
	width: 25%;
	margin-left: 6.4%;
	overflow: hidden;
	position: relative;
}
.ul_list li img {
	width: 100%;
}
.ul_list li .div2 {
	position: absolute;
	background: #fff;
	width: 80%;
	height: 90%;
	bottom: -100%;
	filter: alpha(opacity=0);
	opacity: 0;
	margin-left: 45px;
}
.ul_list li .div2 .p1 {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8%;
	font-size: 18px;
	font-weight: bold;
	height: 22px;
	overflow: hidden;
	color: #2c2c2c;
}
.ul_list li .div2 .p2 {
	margin-top: 4%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	color: #2c2c2c;
	overflow: hidden;
	height: 66px;
}
.ul_list li .div2 .p3 {
	margin: 0 auto;
	margin-top: 4%;
	display: block;
	width: 24%;
	border: 1px solid #000;
	text-align: center;
	line-height: 32px;
	color: #000;
}
.ul_list li .div2 .p3:hover {
	background: #000;
	color: #fff;
}
